In [19]:
import streamlit as st
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
df=pd.read_csv('cleaned_data.csv')
df.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary,degree_bin
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0,low
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0,Good
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0,Average
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0,low
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0,Good

In [5]:
st.title('Placement Insights Dashboard')

2025-11-01 12:05:16.468 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-01 12:05:17.074
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\Sakshi\Desktop\Placemet_Insights_Dashboard\venv\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-11-01 12:05:17.075 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-01 12:05:17.076 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [20]:
df.describe

<bound method NDFrame.describe of     gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p   degree_t  \
0        M  67.00   Others  91.00   Others  Commerce     58.00   Sci&Tech
1        M  79.33  Central  78.33   Others   Science     77.48   Sci&Tech
2        M  65.00  Central  68.00  Central      Arts     64.00  Comm&Mgmt
3        M  56.00  Central  52.00  Central   Science     52.00   Sci&Tech
4        M  85.80  Central  73.60  Central  Commerce     73.30  Comm&Mgmt
..     ...    ...      ...    ...      ...       ...       ...        ...
210      M  80.60   Others  82.00   Others  Commerce     77.60  Comm&Mgmt
211      M  58.00   Others  60.00   Others   Science     72.00   Sci&Tech
212      M  67.00   Others  67.00   Others  Commerce     73.00  Comm&Mgmt
213      F  74.00   Others  66.00   Others  Commerce     58.00  Comm&Mgmt
214      M  62.00  Central  58.00   Others   Science     53.00  Comm&Mgmt

    workex  etest_p specialisation  mba_p      status    salary degree_bin
0       No     55.0         Mkt&HR  58.80      Placed  270000.0        low
1      Yes     86.5        Mkt&Fin  66.28      Placed  200000.0       Good
2       No     75.0        Mkt&Fin  57.80      Placed  250000.0    Average
3       No     66.0         Mkt&HR  59.43  Not Placed       0.0        low
4       No     96.8        Mkt&Fin  55.50      Placed  425000.0       Good
..     ...      ...            ...    ...         ...       ...        ...
210     No     91.0        Mkt&Fin  74.49      Placed  400000.0       Good
211     No     74.0        Mkt&Fin  53.62      Placed  275000.0       Good
212    Yes     59.0        Mkt&Fin  69.72      Placed  295000.0       Good
213     No     70.0         Mkt&HR  60.23      Placed  204000.0        low
214     No     89.0         Mkt&HR  60.22  Not Placed       0.0        low

[215 rows x 15 columns]>

In [12]:
df['salary'].mean

<bound method Series.mean of 0    270000.0
1    200000.0
2    250000.0
3         0.0
4    425000.0
Name: salary, dtype: float64>

In [21]:
df['status'].value_counts()

status
Placed        148
Not Placed     67
Name: count, dtype: int64

In [28]:
st.table(df)

2025-11-01 12:23:08.484 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-01 12:23:08.492 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-01 12:23:08.492 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-01 12:23:08.493 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()